body {
    display: grid;
    text-align: center;
    margin: 0;
}

.title-1 {
    background-color: rgb(113, 182, 182);
    color: white;
    margin: 0;
    padding: 1rem;
}

.title-2 {
    background-color: rgb(113, 182, 182);
    color: white;
    margin: 0;
    padding: 1rem;
}

#game-board {
    /* display: none; */
    display: grid;
    grid-template-columns: 95px 95px 95px;
    margin: 1rem 0 1rem 39%;
}

#game-board > .square {
    height: 90px;
    width: 90px;
    border: 5px solid black;
}

#controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 50%;
    margin: 1rem 0 0 25%;
}

#start-game {
    grid-column: span 2;
    width: 50%;
    margin-left: 25%;
}